# echo "venv/" >> .gitignore
# echo "__pycache__/" >> .gitignore
# echo "*.pyc" >> .gitignore

# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Model files
*.keras
*.h5

# Data
data/
datasets/

# Logs
*.logvenv/
